<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">

        <link rel="stylesheet"
              type="text/css"
              href="../stylesheets/style.css">

        <link rel="shortcut icon"
              type="image/png"
              href="../globalpal_icon.png"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous">
        </script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous">
        </script>

        <%- stylesheets %>
        <%- scripts %>
    </head>

    <body class="main_page">
        <table style="width:1px">
            <tr>
                <th>
                    <img src="data:<%= profile_photo_content_type_top_left %>;base64,<%= profile_photo_top_left %>" class="profile_photo_top_left" alt="Unknown error">
                </th>
                <th>
                    <form action="/my_message" method="get">
                        <input type="submit" id="my_message" value="My Message" />
                    </form>
                </th>
                <th>
                    <form action="/logout" method="get">
                        <input type="submit" id="logout" value="Log Out" />
                    </form>
                </th>
            </tr>
        </table>

        <section>
            <%- body -%>
        </section>
    </body>
</html>
