<% layout('layout_main') -%>
<% stylesheet('../stylesheets/style.css') -%>
<% script('../javascripts/wss_test.js') -%>

<div class="container">
    <div class="row">
        <div class="col-xl-2">
        </div>

        <div class="col-xl-8">
            <h1>User: <%= email %></h1><br>
        </div>

        <div class="col-xl-2">
        </div>
    </div>

    <div class="row">
        <div class="col-xl main">
            <div class="row">
                <div class="col-xl-6">
                    <p class="info">Name: <%= first_name %> <%= last_name %></p>
                    <p class="info">Gender: <%= gender %></p>
                    <p class="info">Age: <%= age %></p>
                    <p class="info">Country: <%= country %></p>
                    <p class="info">City: <%= city %></p>
                    <p class="info">Job: <%= job %></p>
                    <p class="info">Sexual Orientation: <%= sexual_orientation %></p>
                    <p class="info">Personal Description: </p>
                    <p><%= personal_description %></p>
                    <p class="info">Facebook Link: </p>
                    <p><%= facebook_link %></p>
                </div>

                <div class="col-xl-6">
                    <p class="info">Profile photo:</p>
                    <img src="data:<%= profile_photo_content_type %>;base64,<%= profile_photo %>"
                         class="profile_photo" alt="Unknown error"><br><br>

                    <p class="info">Showcase photo:</p>
                    <img src="data:<%= showcase_photo_content_type %>;base64,<%= showcase_photo %>"
                         class="showcase_photo" alt="Unknown error"><br><br>

                    <p class="info">Send a message, hit a like, or start a chat!:</p>
                    <div class="row">
                        <div class="col-xl-8">
                            <form action="/whisper" method="post" id="whisper">
                                <textarea rows="2" name="whisper"
                                          placeholder="Hi! Would you like a cup of tea?" required ></textarea>
                            </form>
                        </div>

                        <div class="col-xl-2">
                            <input class="interact" type="submit" value="💌" form="whisper">
                        </div>

                        <div class="col-xl-2">
                            <form action="/like" method="get" id="like">
                                <input class="interact" type="submit" value="<%= like_icon %>" form="like">
                            </form>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <div class="col-xl-4">
                </div>

                <div class="col-xl-4">
                    <form action="/search_by_email_page" method="get">
                        <input type="submit" value="Return">
                    </form>
                </div>

                <div class="col-xl-4">
                </div>
            </div>
        </div>
    </div>
</div>
